* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0px;
}

.main-padding {
  padding-left: 25%;
  padding-right: 25%;
}

.header {
  display: flex;
  gap: 8px;
  padding-top: 28px;
}

.header a {
  color: #e5e7eb;
}

.header .logo {
  margin-right: auto;
  color: #f9faf8;
}

.hero {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero .hero-text {
  margin-right: 50px;
}

.hero-text .main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text .hero-button {
  background-color: #3882f6;
  padding: 6px 25px;
  margin-top: 6px;
  border-radius: 10px;
}

.hero .img-area {
  background-color: grey;
  width: 500px;
  height: 200px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.bg-blue {
  background-color: #1f2937;
}
