* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0px;
}

.main-padding {
  padding-left: 25%;
  padding-right: 25%;
}

.alt-padding {
  padding-left: 35%;
  padding-right: 35%;
}

.header {
  display: flex;
  gap: 8px;
  padding-top: 16px;
  align-items: baseline;
}

.header a {
  color: #e5e7eb;
  text-decoration: none;
}

.header .logo {
  margin-right: auto;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.hero {
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  align-items: stretch;
}

.hero .hero-text {
  margin-right: 50px;
}

.hero-text .main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text .subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text .hero-button {
  background-color: #3882f6;
  padding: 6px 25px;
  margin-top: 12px;
  border-radius: 6px;
  border: none;
  color: #f9faf8;
}

.hero .img-area {
  background-color: grey;
  display: flex;
  flex: 1 0 50%;
  justify-content: center;
  align-items: center;
}

.info {
  padding-top: 36px;
  padding-bottom: 72px;
  padding-left: 250px;
  padding-right: 250px;
  display: flex;
  flex-direction: column;
}

.info .header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  align-self: center;
}

.info .area {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  gap: 48px;
}

.box-text {
  width: 160px;
}

.box-text p {
  text-align: center;
  margin-top: 12px;
}

.box {
  height: 160px;
  border: 2px solid #3882f6;
  border-radius: 12px;
}

.quote {
  padding-top: 72px;
  padding-bottom: 72px;
  padding-left: 25%;
  padding-right: 25%;
  background-color: #e5e7eb;
}

.quote i {
  display: block;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.quote b {
  display: block;
  text-align: end;
  margin-top: 12px;
  padding-right: 24px;
}

.action {
  display: flex;
  background-color: #3882f6;
  width: fit-content;
  height: fit-content;
  margin: 72px auto;
  padding: 30px 90px;
  border-radius: 6px;
}

.action .text-area {
  margin-right: 240px;
}

.action .main-text {
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
}

.action .sub-text {
  color: #f9faf8;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 6px;
}

.action button {
  border: 1px solid #f9faf8;
  border-radius: 6px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 6px 25px;
  align-self: center;
}

.copyright {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  color: #e5e7eb;
  font-size: 18px;
}

.bg-blue {
  background-color: #1f2937;
}
