* {
    box-sizing: border-box;
    font-family: "Roboto";
    margin: 0px;
}

.header {
    display: flex;
    gap: 8px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 28px;
}

.header a {
    color: #E5E7EB;

}

.header .logo {
    margin-right: auto;
    color: #F9FAF8;
}

.hero {
    display: flex;
    padding: 60px 100px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.hero .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.bg-blue {
    background-color: #1F2937;
}